<h1>New</h1>
<%= link_to "create", {controller: "recipes", action: "create", method: "post"}, class: "btn btn-success" %>
<div class="pull-right">
  <strong>Visited:</strong><span class="tab-left btn btn-success"><%= @count %></span>
</div>